<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal.txt"
      internalLogToConsole="true">

	<targets>
		<target name="appLog" xsi:type="File"
		        layout="${longdate}|${uppercase:${level}}|${message}|${exception}"
		        fileName="C:/ApplicationLogs/${var:ApplicationName}/logs/app.log"
		        archiveFileName="C:/ApplicationLogs/${var:ApplicationName}/logs/archives/app.{#}.txt"
		        archiveEvery="Day"
		        archiveNumbering="Rolling"
		        concurrentWrites="true"
		        keepFileOpen="false"
		        autoFlush="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="appLog" />
	</rules>
</nlog>